.navbar-custom {
  padding: 0;
  margin-bottom: calc(var(--main-font-size) * 1);
}
.navbar-custom .navbar-toggler { border: 0; }
.navbar-custom .navbar-toggler:focus,
.navbar-custom .navbar-toggler:active,
.navbar-custom .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.navbar-custom * {
  font-size: calc(var(--main-font-size) * 0.8);
}
