div#footer_wrap {
  padding: 20px;
}

/* font stuff */
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 10px;
}
strong { font-weight: 400; }
body {
  font-size: 21px;
  font-weight: 300;
}
.mjx-chtml {
  font-size: 100% !important;
}
/* syntax highlighting */
.highlight * table td {
  padding: 0px;
}
.highlight * td pre{
  border: 0px;
}
div.ppl-code p {
  font-size: 100%;
  padding: 10px;
}
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
img.center {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
